* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* GLOBAL */
header{
    width: 100vw;
    top: 0;
    left: 0;
    height: 100px;
    z-index: 5;
    position: fixed;
}
.imag-nav{
    margin-left: 18px;
} 
.esp-nav{
    margin-right: 25px;
}
.epc-nav-bt{
    margin-right: 15px;
}

#pie-pagina{
    width: 100vw;
    height: auto;
    padding-top: 40px;
    background-color: #fffef5
}
.pie-pagina__icons{
    width: 100vw;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}
.pie-pagina__icons a{
    margin-left: 30px;
}
.pie-pagina__icons a img{
    width: 35px;
}
.pie-pagina__copy p{
    color: #241b19;
    width: 100vw;
    height: auto;
    text-align:center;
    padding-top: 20px;
    font-size: 9pt;
}
body{
    background-color: #fffef5;
}


/* HOME */
main{
    height: 100vh;
    min-height: 650px;
    position: relative;
}
.contenedor1__slogan{
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: auto;
    position: relative;
    z-index: 2;
}
.contenedor1__slogan img{
    margin-bottom: 18px;
}
.contenedor1__slogan h1, p{
    min-width: 300px;
    font-size: 1.7rem;
    text-align: center;
    color: #fffff6;
    letter-spacing: 1px;
    font-weight: bold;
}
.contenedor1__slogan h1{
    letter-spacing: -1px;
}
.contenedor1__slogan p{
    font-style:oblique; 
    line-height: 28px;
    margin-top: 40px;
}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1c1d;
    opacity: 0.5;
    mix-blend-mode: overlay;
}

#contenedor2{
    background-color: #5c1b07;
    padding-bottom: 90px;
}
.contenedor2__txt{
    padding-top: 90px;
    font-size: 18pt;
    text-align: center;
    font-weight: bold;
    color: #fffff6;
}
.contenedor2__flex{
    width: 100vw;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.contenedor2__flex-item{
    width: 250px;
    height: auto;
    margin: 50px;
    overflow: hidden;
    border-radius: 50%;
}
.contenedor2__flex-item img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    object-fit: cover;
}
.contenedor2__flex-item img:hover{
    transform: scale(1.2);
}


/* CONTACTO */
#b-contacto{
    background: url(../img/fondo/bg.jpg);
    background-size: cover;
    background-position: center;
}
.formulario{
    width: 100vw;
    height: auto;
    padding-top: 170px;
}
.formulario p{
    color: #241b19;
    font-size: 25pt;
}
.formulario button{
    align-items: center;
}
.contenedor-general-form{
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #ffffffc4;
    padding-top: 50px;
    padding-bottom: 50px;
}
#pie-pagina-form{
    width: 100vw;
    height: auto;
    margin-top: 100px;
    padding-top: 25px;
    background-color: #ffffffc4;
}
.pie-pagina__copy p{
    color: #241b19;
    width: 100vw;
    height: auto;
    text-align:center;
    padding-top: 20px;
    font-size: 9pt;
    padding-bottom: 20px;
}

/* ANIMACIONES */
.animate__animated.animate__zoomIn {
    --animate-duration: 7s;
  }
.animate__animated.animate__slideInUp {
    --animate-duration: 7s;
}















